<script id="newForwardingTemplate" type="text/x-jquery-tmpl">
<form class="form-horizontal" id="newForwardingForm" action="../api/forwardings" method="post">
      <fieldset>
      <div class="control-group">
        <label class="control-label" for="source"><%= t.forwardings.source %></label>
        <div class="controls">
          <input type="text" id="source" name="source">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="destination"><%= t.forwardings.source %></label>
        <div class="controls">
          <input type="text" id="destination" name="destination">
        </div>
      </div>
      </fieldset>
</form>
</script>


<div class="modal hide fade" id="newForwardingDialog">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t.forwardings.new %></h3>
  </div>
  <div class="modal-body">
    &nbsp;
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Ok</a>
    <a href="#" class="btn btn-cancel" data-dismiss="modal">Cancel</a>
  </div>
</div>