<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simple Postfix Admin</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-custom.css" rel="stylesheet">

  <script src="js/jquery-1.6.1.min.js"></script>
  <script src="js/ember-0.9.4.js"></script>
  <script src="js/application.js"></script>

  <!-- Le fav and touch icons -->
  <!-- <link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
</head>

<body>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Postfix Admin</a>
      <ul class="nav">
        <!-- TODO add l18n -->
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><a href="/">Passwort ändern</a></li>
        <!-- <li><a href="#contact">Domains</a></li> -->
        <li><a class="nav-mailbox" href="mailboxes">Postfächer</a></li>
        <li><a class="nav-forwarding" href="forwardings">Weiterleitungen</a></li>
      </ul>
      <form action="" class="pull-right">
        <input class="input-small" type="text" placeholder="Login">
        <input class="input-small" type="password" placeholder="Passwort">
        <button id="login" class="btn" type="submit">Anmelden</button>
      </form>
    </div>
  </div>
</div>

<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Postfix Admin <!-- <small>Supporting text or tagline</small>--> </h1>
    </div>

    <%= yield %>

    <footer>
      <!-- <p>&copy; Company 2012</p> -->
      <p>Licence Info & github repo goes here</p>
    </footer>

  </div> <!-- content -->
  <!-- /container -->
</div>
</body>
</html>