<h2 xmlns="http://www.w3.org/1999/html"><%= t.nav.mailboxes %></h2>


<script type="text/x-handlebars">
  {{#view App.MailboxListEntry}}
  {{#each mailboxes}}
  <div class="span3">{{name}}</div>
  <div class="span4">{{email}}</div>
  <div class="span4">Buttons here</div>
  {{/each}}
  {{/view}}
</script>
