<h2 xmlns="http://www.w3.org/1999/html"><%= t.nav.mailboxes %></h2>


<% @users.each { |user| %>
    <div class="row">
      <div class="span4"><%= user.email %></div>
      <div class="span4">Buttons here</div>
    </div>
<% } %>