<h2><%= t.nav.forwardings %></h2>

<% @forwardings.each { |forwarding| %>
    <div class="row">
      <div class="span3"><%= forwarding.source %></div>
      <div class="span4"><%= forwarding.destination %></div>
      <div class="span4">Buttons here</div>
    </div>
<% } %>