<h2>
  Password ändern
</h2>

<!-- TODO: i18n -->
<form id="change_password_form" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="email">Email-Adresse</label>

      <div class="controls">
        <input name="email" type="email" required id="email_field"> </input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="old_password">Altes Passwort:</label>

      <div class="controls">
        <input name="old_password" type="password"> </input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Neues Passwort:</label>

      <div class="controls">
        <input name="password" type="password"> </input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password_confirmation">Neues Passwort wiederholen:</label>

      <div class="controls">
        <input name="password_confirmation" type="password"> </input>
      </div>
    </div>
  </fieldset>
</form>
<a id="update_password" href="#" class="btn btn-primary">Ok</a>