<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simple Postfix Admin</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="assets/stylesheets/app.css" rel="stylesheet">
  <!-- Le fav and touch icons -->
  <!-- <link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
</head>

<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Postfix Admin</a>
      <ul class="nav">
        <li><a href="/"><%= t.nav.change_password%></a></li>
        <li><a class="nav-mailbox" href="configure_mailboxes"><%= t.nav.mailboxes%></a></li>
        <li><a class="nav-forwarding" href="configure_forwardings"><%= t.nav.forwardings%></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Postfix Admin <small>Your friendly virtual mail admin</small> </h1>
    </div>

    <%= yield %>

    <footer>
      <p>Licence Info & github repo goes here</p>
    </footer>

  </div> <!-- content -->
  <!-- /container -->
</div>
<script src="assets/javascripts/app.js"></script>
</body>
</html>